.title {
    color: red;
    text-align: center;
}

.ingredientsTitle {
    text-align: center;
    h1 {
        font-size: 20px;
    }
}

textarea {
    resize: none;
}

body {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    height: 100vh;
}

#root {
    width: 80%;
}